/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    background-image: url(BG.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
    
    


    
    
}

.card-container.card {
    max-width: 750px;
    background-color: white;
    padding: 10px 10px;
    
}

.btn {
    font-weight: 500;
    height: 46px;
    width: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}


.btn.btn-primary{

    background-color: #FFFFFF;
    text-align: left;
    color: grey;
}


/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 5px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}



/*
 * Form styles
 */


.caret {
    float: right;
  }


.btn.btn-signin {
    
    background-color: #E42F15;
    color: white;
    padding: 0px;
    font-weight: 600;
    font-size: 14px;
    height: 46px;
    border-radius: 10px;
    align-content: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}




